body {
  text-align: center;
  background-image: url("bg.jpg");
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  position: relative;

}

.btn {
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
  
}

#logo{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: black;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
 
  border-radius:  0 70% 0 0;
}

.green {
  background-color: green;
  
  border-radius: 70% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius:  0  0 70% 0;
}

.yellow {
  background-color: yellow;
  border-radius:  0  0  0 70%;
}


.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-width: 1120px){
  .btn {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    
  }
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
}